<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Sayfası</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .full-width-image {
            width: 100%; /* Resmi tam genişlikte gösterir */
            height: auto; /* Yükseklik genişliğe göre otomatik ayarlanır */
            display: block; /* Resmi blok elemanı yapar */
            margin: auto; /* Resmi yatay olarak ortalar */
        }
        .card {
            margin-top: 20px;
        }
        .card-img-top {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    {% load static %}
        <!-- Giriş Formları -->
        <div class="row justify-content-center mt-4"> <!-- Formları merkezde toplamak için justify-content-center kullanılır -->
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'images/hasta.jpeg' %}" class="card-img-top" alt="Hasta Girişi">
                    <div class="card-body">
                        <h2 class="card-title">Hasta Girişi</h2>
                        <form action="{% url 'hasta_giris' %}" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="hasta_kullanici_adi" class="form-label">Kullanıcı Adı:</label>
                                <input type="text" class="form-control" id="hasta_kullanici_adi" name="hasta_kullanici_adi">
                            </div>
                            <div class="mb-3">
                                <label for="hasta_sifre" class="form-label">Şifre:</label>
                                <input type="password" class="form-control" id="hasta_sifre" name="hasta_sifre">
                            </div>
                            <button type="submit" class="btn btn-primary">Giriş Yap</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'images/doktor.jpeg' %}" class="card-img-top" alt="Doktor Girişi">
                    <div class="card-body">
                        <h2 class="card-title">Doktor Girişi</h2>
                        <form action="{% url 'doktor_giris' %}" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="doktor_kullanici_adi" class="form-label">Kullanıcı Adı:</label>
                                <input type="text" class="form-control" id="doktor_kullanici_adi" name="doktor_kullanici_adi">
                            </div>
                            <div class="mb-3">
                                <label for="doktor_sifre" class="form-label">Şifre:</label>
                                <input type="password" class="form-control" id="doktor_sifre" name="doktor_sifre">
                            </div>
                            <button type="submit" class="btn btn-primary">Giriş Yap</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'images/yonetici.jpeg' %}" class="card-img-top" alt="Yönetici Girişi">
                    <div class="card-body">
                        <h2 class="card-title">Yönetici Girişi</h2>
                        <form action="{% url 'yonetici_giris' %}" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="yonetici_kullanici_adi" class="form-label">Kullanıcı Adı:</label>
                                <input type="text" class="form-control" id="yonetici_kullanici_adi" name="yonetici_kullanici_adi">
                            </div>
                            <div class="mb-3">
                                <label for="yonetici_sifre" class="form-label">Şifre:</label>
                                <input type="password" class="form-control" id="yonetici_sifre" name="yonetici_sifre">
                            </div>
                            <button type="submit" class="btn btn-primary">Giriş Yap</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>